@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Tangerine', 'Dancing Script', 'Brush Script MT', system-ui;
    --font-size-base: 0.90 rem;
}

* {
    font-family: 'Tangerine', 'Dancing Script', 'Brush Script MT' !important;
    font-size: 0.90 rem;
}
